.login-title{
    background:rgb(197, 245, 252)  ;
}

.fondo{
    background: #01103a ;
}

.fondo-blanco{
    background: #FFFFFF;
}
.fondo-azulc{
    background: #a2affa ;
}
.letra-blanca{
    color: #FFFFFF;
}
.letra-oscura{
    color: #01103a;
}